.row{
    display: flex;
    flex-wrap: wrap;
}
aside {

    flex:40px;
    background-color: #53e2e9;
    padding: 20px;

}

section {
    flex:70%;
    background-color: black;
    padding: 20px;
    flex-wrap: wrap;
    color: white;
}
select {
  max-width: 100px;
}
 .cards{
    flex:70%;
    background-color: black;
    padding: 5px;
    flex-wrap: wrap;
    color: white;
}
